@model SitecoreDev.Feature.Media.ViewModels.HeroSliderViewModel
@using System.Collections
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Resources.Media

@if (Model.HasImages)
{
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.ImageCount; i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class="@(Model.HeroImages[i].IsActive?"active":"")">
                    
                </li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (var image in Model.HeroImages)
            {
                <div class="item @(image.IsActive ? "active" : "")">
                    <img src="@image.MediaUrl" style="width: 1920px" alt="@image.AltText"/>
                </div>
            }
        </div>
    </div>
}
